@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: linear-gradient(45deg, #88b9e9, #5e85ea);
    background-attachment: fixed;
}

nav {
    position: sticky;
    top: 0;
}
ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 20px;
    background-image: linear-gradient(90deg, #95c4eb, #84afeb);
    border-radius: 10px;
}
li {
    list-style: none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
    transition: 0.1s;
}
li a {
    text-decoration: none;
    color: white;
}

li:hover {
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    transform: translate(0px,-5px);
}

#search-container {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
    flex-wrap: wrap;
}
#city-input {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-width: 0;
    padding: 10px;
    font-size: 16px;
    display: block;
}
button {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: #3e6bd0;
    border: none;
    cursor: pointer;
    flex: 1 1 auto;
    min-width: 120px;
}
button:hover {
    background-color: #3e6bd0;
    color: white;
    transition: 0.1s;
}
#weather-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none;
}
#current-weather {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}
.city-stats {
    display: flex;
    gap: 20px;
}
#weather-icon {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
#forecast {
    display: flex;
    justify-content: space-evenly;
}
.forecast-day {
    text-align: center;
}
.forecast-icon {
    width: 50px;
    height: 50px;
}
#unit-toggle {
    margin-top: 20px;
}

@media (max-width: 480px) {
    #search-container, ul, .city-stats {
        flex-direction: column;
    }
    button {
        width: 100%;
    }
    .city-stats {
        gap: 0px;
    }
    #weather-container {
        text-align: center;
    }
    li:hover {
        transform: translate(5px,0px);
    }
}


.movies {
    background-image: linear-gradient(45deg, #06080d, #1b1a21);
    background-attachment: fixed;
    color: white;
}
.movies ul {
    background-image: linear-gradient(90deg, #f3101d, #9c0a12);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.movies button {
    background-color: #f3101d;
    color: white;
    border-radius: 500px;
}
.movies button:hover {
    background-color: #da0d17;
    transition: 0.1s;
}
#movie-search {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
}
#sort-container {
    margin-bottom: 20px;
}
#movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.movie-card {
    background-color: #24232c;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.movie-card button {
    align-self: center;
    margin-top: auto;
    padding: 10px 20px;
    background-color: #f3101d;
    color: white;
    border-radius: 500px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.movie-card button:hover {
    background-color: #da0d17;
}

.movie-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.movie-info {
    padding: 10px;
}
.movie-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.movie-release {
    color: #aaa;
    text-align: center;

}

#movie-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #24232c;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    min-height: 400px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#watchlist-container {
    margin-top: 20px;
    align-items: start; /
}
.modal-content img {
    float: left;
}
@media (max-width: 600px) {
    #search-container {
        flex-direction: column;
    }
    #movie-search {
        margin-bottom: 10px;
    }
    .modal-content img {
        float: none;
    }
}

.recipes {
    background-image: linear-gradient(45deg, #ebeaef, #e7e6eb);
    background-attachment: fixed;
    color: #1e1e1e;
}
.recipes ul {
    background-image: linear-gradient(90deg, #84b00c, #648509);
}
.recipes button {
    background-color: #84b00c;
    color: white;
    border-radius: 500px;
}
.recipes button:hover {
    background-color: #648509;
    transition: 0.1s;
}
#recipe-search {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
}
#recipes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.recipe-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
}
.recipe-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.recipe-info {
    padding: 10px;
}
.recipe-title {
    font-weight: bold;
    margin-bottom: 5px;
}
#recipe-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.recipes .modal-content {
    background-color: white;
}
.recipes .modal-content ul {
    flex-direction: column;
    color: white;
}
.recipes .modal-content ul li {
    font-size: 1.1rem;
    font-weight: 400;
    list-style: inside;
}
ol li {
    font-size: 1rem;
    font-weight: 400;
    list-style: square;
}
#favorites-container {
    margin-top: 20px;
}